<h2>Reservas de lugares</h2>
<p>Seguí los pasos a continuación para reservar tu lugar para llegar a destino</p>

<div class="contenedor-reserva">
   <!-- <button class="boton-cons" id="boton-consulta">Consultar</button>-->

	<table>
	<thead><h3>Tabla de horarios y disponibilidad</h3>
		<h4>Viajes matutinos</h4>
		<tr>
			<td>Día</td><td>7:00</td><td>7:30</td><td>8:00</td>
		</tr>
	</thead>
	<tbody>
		{{#each datosIda}}
			<tr>
				<td>{{this.dia}}</td>
				{{#each this.disponibilidad}}
					<td>{{this}}<button class="boton-cons" onclick="reservarLugar()">Reservar</button></td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>
<br><br>

<table>
	<thead><h3>Tabla de horarios y disponibilidad</h3>
		<h4>Viajes tarde</h4>
		<tr>
			<td>Día</td><td>16:30</td><td>17:00</td><td>17:30</td>
		</tr>
	</thead>
	<tbody>
		{{#each datosVuelta}}
			<tr>
				<td>{{this.dia}}</td>
				{{#each this.disponibilidad}}
					<td>{{this}}<button class="boton-cons">Reservar</button></td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>

</div>

<script>

	

	function reservarLugar(dia, horario) {
	var dia = {{this.dia}}
	var horario = {{this.disponibilidad}}
		
		console.log(dia, horario)
	}

</script>