<h2>Reservas de lugares</h2>
<p>Seguí los pasos a continuación para reservar tu lugar para llegar a destino</p>

<div class="contenedor-reserva">

	<!--Ventana modal-->
   <div class="caja-modal-Ok" id="modalOk">
        <img src="../images/iconosA.png" alt="">
        <h3>Su reserva fue realizada con éxito</h3>
        <p>Lo esperamos en su parada local</p>
        <button onclick="document.getElementById('modalOk').style.display= 'none' " class = "btn-modal">Aceptar</button>
    </div>

	<div class="caja-modal-No" id="modalNo">
        <img src="../images/iconosB.png" alt="">
        <h3>No hay lugares disponibles</h3>
        <p>Elija otro horario para viajar</p>
        <button onclick="document.getElementById('modalNo').style.display= 'none' " class = "btn-modal">Aceptar</button>
    </div>
                
    <!--Cierre ventana modal-->  

	<table>
	<thead><h3>Tabla de horarios y disponibilidad</h3>
		<h4>Viajes matutinos</h4>
		<tr>
			<td>Día</td><td>7:00</td><td>7:30</td><td>8:00</td>
		</tr>
	</thead>
	<tbody>
		{{#each datosIda}}
			<tr>
				<td>{{this.dia}}</td>
				{{#each this.disponibilidad}}
					<td>{{this}}<button class="boton-cons" onclick="reservarLugar('{{../dia}}', {{this}} {{[@index]}})">Reservar</button></td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>
<br><br>

<table>
	<thead><h3>Tabla de horarios y disponibilidad</h3>
		<h4>Viajes tarde</h4>
		<tr>
			<td>Día</td><td>16:30</td><td>17:00</td><td>17:30</td>
		</tr>
	</thead>
	<tbody>
		{{#each datosVuelta}}
			<tr>
				<td>{{this.dia}}</td>
				{{#each this.disponibilidad}}
					<td>{{this}}<button class="boton-cons" onclick="reservarLugar('{{../dia}}', {{this}} {{[@index]}})">Reservar</button></td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>

</div>

<script>


	function reservarLugar(dia, lugares) {

		console.log("Para el dia:", dia);
		console.log("Hay disponibles", lugares, "lugares");

		if(lugares >= 1) {
			
			console.log("Hago la reserva")

		}else{
			if(lugares <= 0) {
				console.log("No puedo hacer la reserva")
			}
		}
	
	}

</script>